<a href="https://colab.research.google.com/github/kenltho2/Num-Meth23/blob/main/Project2_ver2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import math
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
#true error
def terror(true, approx):
  error_t = true - approx
  return error_t

#relative true error 
def rterror(terror,tValue):
  RTerror = terror / tValue
  return RTerror

# function for e^x
def f(x):
  return math.exp(x)

# forward difference
def forward(x,h):
  forx = ((f(x+h) - f(x))) / h
  return forx

# backward difference
def backward(x,h):
  backx = ((f(x-h) - f(x))) / h
  return backx

# central difference
def center(x,h):
  centerx = ((f(x+h) - f(x-h))) / (2*h)
  return centerx

#finite difference
def finite(x,h):
  second_deriv = ( ( f(x+h) - 2*f(x) - f(x+h) ) ) / h**2
  return second_deriv

In [7]:
# dataframe for my approximations at x=2, using the .append feature
# .append feature is "deprecated" so used pd.concat but left this as another example
#df = pd.DataFrame(columns = ['h','true value','front estimate','back estimate','center estimate','finite difference'])
#for i in range(1,6):
 # df = df.append({'h': 1/10**i,
  #                'true value': f(2),
   #               'front estimate': forward(2,1/10**i),
    #              'back estimate': backward(2, 1/10**i),
     #             'center estimate': center(2,1/10**i),
      #            'finite difference': finite(2,1/10**i)},
       #           ignore_index=True)

#df

In [19]:
#Pandas Data Frame(s) laying out our data, separated into individual dataframes to concatenate at will later.
# using for loops to fill each frame with appropriate data
tx = 5 # tx is number of rows
dfh = pd.DataFrame({'h': [10**-i for i in range(1,tx+1)]})
dftrue = pd.DataFrame({'true val.': [f(2) for i in range(1,tx+1)]})
dfforward = pd.DataFrame({'forward est.': [forward(2,10**-i) for i in range(1,tx+1)]})
dfback = pd.DataFrame({'back est.': [backward(2,10**-i) for i in range(1,tx+1)]})
dfcenter = pd.DataFrame({'center est.': [center(2,10**-i) for i in range(1,tx+1)]})
dffinite = pd.DataFrame({'finite diff.': [finite(2,10**-i) for i in range(1,tx+1)]})

# dataframes for error values
dfForTruErr= pd.DataFrame({'forward true err.': [terror(f(2),forward(2,10**-i)) for i in range(1,tx+1)]})
dfBackTruErr = pd.DataFrame({'back true err.': [terror(f(2),backward(2,10**-i)) for i in range(1,tx+1)]})
dfCenterTruErr = pd.DataFrame({'center true err.': [terror(f(2),center(2,10**-i)) for i in range(1,tx+1)]})
dfForRelErr = pd.DataFrame({'forward relative err.': [rterror(terror(f(2),forward(2,10**-i)),f(2)) for i in range(1, tx+1)]})
dfBackRelErr = pd.DataFrame({'back relative err': [rterror(terror(f(2),backward(2,10**-i)),f(2)) for i in range(1, tx+1)]})
dfCenRelErr = pd.DataFrame({'center relative err': [rterror(terror(f(2),center(2,10**-i)),f(2)) for i in range(1, tx+1)]})

In [20]:
Forward_Table = pd.concat([dfh,dftrue,dfforward,dfForTruErr,dfForRelErr], axis= 1)
Forward_Table

         h  true val.  forward est.  forward true err.  forward relative err.
0  0.10000   7.389056      7.771138          -0.382082              -0.051709
1  0.01000   7.389056      7.426125          -0.037069              -0.005017
2  0.00100   7.389056      7.392752          -0.003696              -0.000500
3  0.00010   7.389056      7.389426          -0.000369              -0.000050
4  0.00001   7.389056      7.389093          -0.000037              -0.000005

In [21]:
Backward_Table = pd.concat([dfh,dftrue,dfback,dfBackTruErr,dfBackRelErr], axis = 1)
Backward_Table

         h  true val.  back est.  back true err.  back relative err
0  0.10000   7.389056  -7.031617       14.420673           1.951626
1  0.01000   7.389056  -7.352234       14.741290           1.995017
2  0.00100   7.389056  -7.385363       14.774419           1.999500
3  0.00010   7.389056  -7.388687       14.777743           1.999950
4  0.00001   7.389056  -7.389019       14.778075           1.999995

In [22]:
Center_Table = pd.concat([dfh,dftrue,dfcenter,dfCenterTruErr,dfCenRelErr], axis = 1)
Center_Table

         h  true val.  center est.  center true err.  center relative err
0  0.10000   7.389056     7.401377     -1.232125e-02        -1.667500e-03
1  0.01000   7.389056     7.389179     -1.231516e-04        -1.666675e-05
2  0.00100   7.389056     7.389057     -1.231509e-06        -1.666666e-07
3  0.00010   7.389056     7.389056     -1.232264e-08        -1.667688e-09
4  0.00001   7.389056     7.389056     -1.856799e-10        -2.512904e-11